<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>{{title}}</title>
</head>
<body class="bg-gray-100">

    {{!-- navbar --}}
    <div class="p-4 bg-white shadow">
        <a href="/" class="text-blue-500 hover:text-gray-800">Home</a>
        <a href="/login" class="text-blue-500 hover:text-gray-800" style="float:right;" ;>Login</a>
        <a href="/register" class="text-blue-500 hover:text-gray-800" style="float:right; margin-right:2rem;" ;>Register</a>
    </div>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Welcome to our Express App</h1>
        <div class="min-h-screen grid gird-cols-1 lg:grid-cols-[300px_1fr] gap-6 p-6">
            {{{body}}}
        </div>
    </div>
</body>
</html>